.auth {
    height: 100dvh;
    padding: 40px 0;
    &--container {
        max-width: calc(100% - 80px);
        height: 100%;
        margin: 0 auto;
        display: flex;
    }
    &--title {
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        span {
            color: #006FEE
        }
    }
}